<meta name="description" content="Google Maps renders disputed territories differently depending on who's looking. A project for the Knight-Mozilla-MIT &quot;The Open Internet&quot; hack day in June 2014.">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="https://dl.dropboxusercontent.com/u/6017697/disputed-maps/favicon.ico" />
