{% extends '_base.html' %}

{% block title %}{{ COPY.copy.title }} | {{ COPY.copy.header_title }}{% endblock title %}

{% block content %}
<nav role="navigation">
    <ul class="site-links">
        <li><a href="{{ COPY.copy.header_title_link }}">{{ COPY.copy.header_title }}</a></li>
    </ul>
    <ul class="social-links">
        <li class="twitter"><a rel="external" href="http://twitter.com/share?text={{ COPY.sharing.twitter_text|urlencode }}&amp;url={{ SHARE_URL|urlencode }}" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', '{{ PROJECT_SLUG }}', 'tweet', 'nav']);">Share This Page On Twitter</a></li>
        <li class="facebook"><a rel="external" href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK_APP_ID }}&amp;link={{ SHARE_URL|urlencode }}&amp;name={{ COPY.sharing.facebook_title|urlencode }}&amp;picture={{ FACEBOOK_IMAGE_URL|urlencode }}&amp;redirect_uri={{ SHARE_URL|urlencode }}" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', '{{ PROJECT_SLUG }}', 'facebook', 'nav']);">Like This Page On Facebook</a></li>
    </ul>
    <ul class="site-links-2">
    </ul>
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h1>Aksai Chin</h1>
            </div>
        </div>
    </div>
</header>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% for row in COPY.final_set|sort(attribute='entity_name') %}
        {% if row.slug == "aksai-chin" %}
        <button class="js-toggleUsIndia btn btn-toggleView btn-toggleView--us" disabled="disabled">US view</button>
        <button class="js-toggleUsIndia btn btn-toggleView btn-toggleView--india">India view</button>
          <div class="map--{{ row.slug }} us-view">
            <img class="disputes-item-map disputes-item-map--detail" src="/assets/maps/{{ row.image_in }}">
            <img class="disputes-item-map disputes-item-map--detail top" src="/assets/maps/{{ row.image_us }}">
          </div>

        {% endif %}
        {% endfor %}
      <div>
    </div>
  </div>
</section>
{% endblock content %}
