{% extends '_base.html' %}

{% block title %}{{ COPY.copy.title }} | {{ COPY.copy.header_title }}{% endblock title %}

{% block content %}
<nav role="navigation">
    <ul class="site-links">
        <li><a href="{{ COPY.copy.header_title_link }}">{{ COPY.copy.header_title }}</a></li>
    </ul>
    <ul class="social-links">
        <li class="twitter"><a rel="external" href="http://twitter.com/share?text={{ COPY.sharing.twitter_text|urlencode }}&amp;url={{ SHARE_URL|urlencode }}" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', '{{ PROJECT_SLUG }}', 'tweet', 'nav']);">Share This Page On Twitter</a></li>
        <li class="facebook"><a rel="external" href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK_APP_ID }}&amp;link={{ SHARE_URL|urlencode }}&amp;name={{ COPY.sharing.facebook_title|urlencode }}&amp;picture={{ FACEBOOK_IMAGE_URL|urlencode }}&amp;redirect_uri={{ SHARE_URL|urlencode }}" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', '{{ PROJECT_SLUG }}', 'facebook', 'nav']);">Like This Page On Facebook</a></li>
    </ul>
    <ul class="site-links-2">
    </ul>
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.copy.title }}</h1>
                <h2>{{ COPY.copy.description }}</h2>
            </div>
        </div>
    </div>
</header>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 disputes">
                
                {% for row in COPY.final_set|sort(attribute='entity_name') %}
                <div class="disputes-item disputes-item--{{ row.slug }}">
                    <h3 class="disputed-name">{{ row.entity_name }}</h3>
                    
                    <div class="row">
                        <div class="col-sm-9">
                            <p class="disputed-description">{{ row.description }} <em>(Source: <a href="{{ row.desc_source }}">Wikipedia</a>)</em></p>
                        </div>
                        <div class="col-sm-3">
                            <h4>Status</h4>
                            <p>{{ row.temp_claim }}</p>
                        </div>
                    </div>
                    
                    <div class="row claimants">
                        <div class="col-sm-4 claimants-item">
                            <h4>What U.S. users see in Google Maps</h4>
                            <div class="disputes-item-map" data-url="{{ row.image_us }}"></div>
                        </div>
                        {% if row.image_us %}
                        {% endif %}

                        {% if row.image_cn %}
                        <div class="col-sm-4 claimants-item">
                            <h4>What Chinese users see</h4>
                            <div class="disputes-item-map" data-url="{{ row.image_cn }}"></div>
                        </div>
                        {% endif %}

                        {% if row.image_in %}
                        <div class="col-sm-4 claimants-item">
                            <h4>What Indian users see</h4>
                            <div class="disputes-item-map" data-url="{{ row.image_in }}"></div>
                        </div>
                        {% endif %}

                        {% if row.image_ru %}
                        <div class="col-sm-4 claimants-item">
                            <h4>What Russian users see</h4>
                            <div class="disputes-item-map" data-url="{{ row.image_ru }}"></div>
                        </div>
                        {% endif %}
                    </div>

                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock %}
