{% extends '_base.html' %}

{% block title %}{{ COPY.copy.title }} | {{ COPY.copy.header_title }}{% endblock title %}

{% block content %}
<nav role="navigation">
    <ul class="site-links">
        <li><a href="{{ COPY.copy.header_title_link }}">{{ COPY.copy.header_title }}</a></li>
    </ul>
    <ul class="social-links">
        <li class="twitter"><a rel="external" href="http://twitter.com/share?text={{ COPY.sharing.twitter_text|urlencode }}&amp;url={{ SHARE_URL|urlencode }}" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', '{{ PROJECT_SLUG }}', 'tweet', 'nav']);">Share This Page On Twitter</a></li>
        <li class="facebook"><a rel="external" href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK_APP_ID }}&amp;link={{ SHARE_URL|urlencode }}&amp;name={{ COPY.sharing.facebook_title|urlencode }}&amp;picture={{ FACEBOOK_IMAGE_URL|urlencode }}&amp;redirect_uri={{ SHARE_URL|urlencode }}" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', '{{ PROJECT_SLUG }}', 'facebook', 'nav']);">Like This Page On Facebook</a></li>
    </ul>
    <ul class="site-links-2">
    </ul>
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.copy.title }}</h1>
                <h2>{{ COPY.copy.description }}</h2>
            </div>
        </div>
    </div>
</header>

<section id="content">
    <div class="container">
        <div class="row">
                <div class="col-md-12">
                    <div class="disputes">
                    
                        {% for row in COPY.final_set %}
                    
                        {% for dispute in disputes %}
                        <div class="disputes-item disputes-item--{{ dispute.slug }}">
                            <p class="disputes-item-title">{{ dispute.name }} – US view</p>
                            <div class="disputes-item-map" data-url="{{ dispute.image_us }}"></div>

                            <ul class="claimants">
                            {% for claimant in dispute.claimants %}
                                <li class="claimants-item claimants-item--{{ claimant.slug }}">
                                    <div class="claimants-item-map" data-url="{{ claimant.url }}"></div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>

                        {% endfor %}
                    </div>

                    <h3 class="disputed-name">Golan Heights</h3>
                    <img src="">
                    <p class="disputed-description">"Demchok is a small village and military emcampment in the Indian-administered part of the disputed Demchok sector south of Aksai Chin, in the Leh district of Ladakh in the state of Jammu and Kashmir. The Line of Actual Control (LAC) passes along the southeast side of the village, following a wadi just upstream from the nearby Indus River. Across the wadi, less than a kilometer away, is a Chinese-administered village, called Dêmqog, which was once part of Demchok. It is part of the Ngari Prefecture within Tibet." <a href="http://en.wikipedia.org/wiki/Demchok" class="disputed-source">Source</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
